<div class="col-12 col-md-6 mb-2">
	<div class="container" style="background-color: rgb(151, 185, 235); padding: 2%; border-radius: 5px;">
		<div class="row align-items-end justify-content-center">
			<div class="col-md-3 col-sm-6 col-8  mb-3 mb-sm-0">
				<label>Hora:</label>
				<input type="time" class="form-control" [(ngModel)]="hora" name="hora" (ngModelChange)="filhoAtualizaPai()"/>
			</div>

			<div class="col-md-4 col-sm-6 col-8 mb-3 mb-sm-0">
				<label>Quantidade (gramas):</label>
				<input type="number" class="form-control" [(ngModel)]="quantidade" name="quantidade" (ngModelChange)="filhoAtualizaPai()"/>
			</div>

			<div class="col-md-4 col-12">
				<button type="button" (click)="filhoExcluido($event)" class="btn btn-dark">Excluir Registro</button>
			</div>
		</div>
	</div>
</div>