/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import '~materialize-css/dist/css/materialize.css'; */
@import "~bootstrap/dist/css/bootstrap.min.css";

#logo {
    background-image: url("https://www.deco.proteste.pt/-/media/edideco/images/home/familia-consumo/animais%20de%20estima%C3%A7%C3%A3o/noticias/2021/5mitos_aliment_caes_gatos/thumb_5mitos_aliment_caes_gatos_800x450.jpg?rev=54e83849-d3ba-486f-a72f-935a4538e09e&mw=660&hash=E344876BBE810CB027595386D7C4A732");
    height: 400px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: auto;
    margin-bottom: 0%;
}

body {
    width: 95%;
    background-color: rgb(235, 202, 140);
    margin: auto;
    border: 2px solid black;
    font-family:'Times New Roman', Times, serif;
}
