<div class="msgHome">
	<p style="margin: 0;">Seja bem vindo à Interface do prótipo de alimentador de animais.
		Nesse site você terá acesso e permissão para alterar, adicionar e remover
		registros. Produzido com a utilização do framework Angular, este site tem por
		objetivo fornecer uma interface de interação para que o usuário possa definir horários
		e quantidades de ração para um pet. Esses dados são armazenas no banco de dados NoSQL
		Firestore, da plataforma de serviço Firebase desenvolvida e formentada pela Google.
		Esse dados serão enviado a um microcontrolador Esp32 quando o mesmo requisitá-los
		pelo servidor Node Js que faz acesso ao banco.
	</p>
</div>